@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1e1e;
}

h1 {
  font-size: 2.6em;
}

p {
  font-size: 1.3em;
}

li {
  font-size: 1.3em;
}

.oculto {
  display: none;
}

#main {
  background-color: #fff;
  width: 325px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 40px;
}

a {
  color: rgb(105, 41, 179);
  font-weight: bold;
}

a:hover {
  color: rgb(55, 13, 102);
}

ul {
  color: rgb(105, 41, 179);
}

ul:hover {
  color: rgb(55, 13, 102);
}
